body{background-color: white;}
h1{font-family: 'Alegreya Sans SC', sans-serif;}
{font-size:64px;}
{color: blue;}
{text-align: center;}

h2{font-family: 'Alegreya Sans', sans-serif;}
{color: black;}
{font-size: 48px;}
{font-style: italic;}
{text-align: center;}

h2.topics{font-family: 'Alegreya Sans', sans-serif;}
{color: red;}
{font-size: 48px;}
{font-style: italic;}
{text-align: center;}

img{background-image: "images/Yverdon gold.jpg"; }
img{margin: auto;}
img{width: 1500px;}
p{font-family: serif;}
p{font-size: 28px;}
p{text-align: center;}

