*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color: grey;
	font-size: 16px;
	font-family: "Alegreya Sans", sans-serif;
}

header{
	background-color: #cc3333;
	border: .16em black solid;
	padding: 1.25em;
}

h1{
	font-family: "Alegreya Sans SC", sans-serif;
	font-size:4em;
	color: #0066ff;
	text-align: center;
	background-color: #e08585;
	border: .16em solid red;
	margin-bottom: .625em;
}

h2{
	font-family: "Alegreya Sans", sans-serif;
	font-size:2em;
	color: grey;
	text-align: center;
	padding-left: .25em;
	padding-right: .25em;
	background-color: white;
	border: .625em solid #e08585;
	margin-bottom: .625em;
}
h2 i{
	color: #4d94ff;
}

img {
	display: block;
	margin: 0 auto;
	border: 1.25em grey solid;
	width: 100%;

}
.Competitions{
	width: 30%;
	float:left;
	margin-right: .25em;
	margin-top: .25em;
	background-color: #a6a6a6;
	border: .19em #595959 solid;
}
#calendar {
	font-size: 1.5em;
	color:#0066ff;

}
h3.Competitions {
	font-family: "Alegreya Sans SC", sans-serif;
	font-size: 1.5em;
	color:#0066ff; 
	background-color: #d9d9d9;
	margin-top: .5em;
	text-align: center;
}
h3.dates{
	font-size:1.25em;
	color:red;
	margin-bottom: .16em;
	text-align: center;
}
article{
	display: block;
	background-color: #d9d9d9;
	text-align: center;
	line-height: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-top: .25em;
	margin-bottom: .25em;
}
 article a{
	display: block;
	color: blue;
	text-decoration: none;
	font-size: 1.25em;
	text-align: center;
	margin-top: 0
}
.Competitions nav a{
	display: inline-block;
	color: blue;
	text-decoration: none;
	font-size: 1.25em;
	background-color: #d9d9d9;
	margin-top: 1.25em;
	margin-bottom: 1.56em;
	padding-top: 1.25em;
	padding-right: 1.25em;
	padding-bottom: 1.25em;
	padding-left: 1.25em;
	text-align: vertical;
	text-align: center;
}
.Blog{
	width: 30%;
	float:left;
	margin-left: .25em;
	margin-top: .25em;
	background-color: #a6a6a6;
	border: .19em #595959 solid;
}
.Blog h3{
	color: #0066ff;
	font-size: 1.5em;
	margin-left: .5em;
	margin-bottom: 1em;
	margin-top: 1em;
	text-decoration: underline;
	text-decoration-color: #d9d9d9;
}
.Blog a{
	font-size: 1em;
	text-decoration: none;
	color:blue;
}
.Blog p{
	font-size: 1.25em;
	padding-right: .5em;
	padding-left: .5em;
	margin-bottom: .5em;
}
.Team{
	width: 30%;
	float:left;
	margin-left: .25em;
	margin-top: .25em;
	background-color: #a6a6a6;
	border: .19em #595959 solid;
}
.Team nav a{
	text-decoration: none;
	color: blue;
	font-size: 1.25em;
	display: block;
	margin-top:.625em;
	text-align: center;
	padding: .625em;
	background-color: #d9d9d9;
	
}
.Team img{
	margin-bottom: 1.25em;
	margin-top: 1.25em;
	border: .625em grey solid;
	width: 90%;
}
.Team p{
	font-size: 1.25em;
	padding-right: .5em;
	padding-left: .5em;
}
.Links{
	width: 30%;
	float:left;
	background-color: #a6a6a6;
	margin-top: .25em;
	margin-left: .25em;
	border: .19em #595959 solid;
}
.Links nav a{
	color: blue;
	font-size: 1.25em;
	line-height: 1em;
	text-align: center;
	width: 50%;
	text-decoration: none;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .5em;
	padding-right: .5em;
	background-color: #d9d9d9;
	display: block;
	margin-top: .25em;
	margin-bottom: .5em;
	margin-left: auto;
	margin-right: auto;

}

h2.topics{
	font-family: 'Alegreya Sans', sans-serif;
	color: red;
	background-color: white;
	font-size: 2em;
	font-style: italic;
	text-align: center;
	border: .16em black solid;
	padding: .625em;
	margin-right: .625em;
	margin-left: .625em;
	margin-top: .625em;
}
footer{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: .16em red solid;
	padding: .625em;
	text-align: center;
	font-size: 1.5em;
}
footer a{
	color:blue;
	text-decoration: none;
}
.clearfix {
	max-width: 85em ;
	margin: 0 auto;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}





