*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color: grey;
	font-size: 16px;
	font-family: "Alegreya Sans", sans-serif;
}

header{
	background-color: #cc3333;
	border: 1px black solid;
	padding:20px;
}

h1{
	font-family: "Alegreya Sans SC", sans-serif;
	font-size:4em;
	color: #0066ff;
	text-align: center;
	background-color: #e08585;
	border: 1px solid red;
	margin-bottom: 10px;
}

h2{
	font-family: "Alegreya Sans", sans-serif;
	font-size:2em;
	color: grey;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;
	border: 4px solid #e08585;
	margin-bottom: 10px;
}
h2 i{
	color: #4d94ff;
}
h3{
	font-family: "Alegreya Sans", sans-serif;
	font-size: 1.5em;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	border: 20px grey solid;

}
.Competitions{
	width: 425px;
	float:left;
	margin-right: 4px;
	margin-top: 4px;
	margin-left: 66px;
	background-color: #a6a6a6;
	border: 3px #595959 solid;
}
.Competitions h3{
	font-family: "Alegreya Sans SC", sans-serif;
	font-size: 1.5em;
	color:#0066ff; 
	background-color: #d9d9d9;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	margin-top: 8px;
}
#fortwayne{
	font-size:1.25em;
	margin-bottom: 0;
}
#fortwayne a{
	color: blue;
	text-decoration: none;
}
#redlands{
	font-size: 1.25em;
	margin: 0;
}
#redlands a{
	color: blue;
	text-decoration: none;
}
#worldchampionships{
	font-size: 1.25em;
	margin:0;
}
#worldchampionships a{
	color: blue;
	text-decoration: none;
}
#teamtrials{
	font-size:1.25em;
	margin:0;
}
#teamtrials a{
	color: blue;
	text-decoration: none;
}
a{
	font-size: 1.25em;
	color: blue;
	text-decoration: none;
}
.Blog{
	width: 425px;
	float:left;
	margin-left: 4px;
	margin-top: 4px;
	background-color: #a6a6a6;
	border: 3px #595959 solid;
}
.Blog a{
	font-size: 1em;
	text-decoration: none;
	color:blue;
}
.Blog p{
	font-size: 1.25em;
	padding-right: .5em;
	padding-left: .5em;
}
.Team{
	width: 425px;
	float:left;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	background-color: #a6a6a6;
	border: 3px #595959 solid;
}
.Team img{
	margin-bottom: 20px;
	border: 10px grey solid;
}
.Team p{
	font-size: 1.25em;
	padding-right: .5em;
	padding-left: .5em;
}
.Links{
	width: 425px;
	float:left;
	background-color: #a6a6a6;
	margin-top: 4px;
	margin-left: 4px;
	border: 3px #595959 solid;
}

h2.topics{
	font-family: 'Alegreya Sans', sans-serif;
	color: red;
	background-color: white;
	font-size: 32px;
	font-style: italic;
	text-align: center;
	border: 1px black solid;
	padding:10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

li>a{
	color: blue;
	text-decoration: none;
	font-size: 1.25em;
	padding:4px;
}
ul{
	list-style-type: none;
	text-align: center;
}
footer{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: 1px red solid;
	padding: 10px;
	text-align: center;
	font-size: 22px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}





