body{
	background-color: white;
}

header{
	background-color: #FFED74;
	border: 1px black solid;
	padding:20px;
}

h1{
	font-family: "Alegreya Sans SC", sans-serif;
	font-size:64px;
	color: blue;
	text-align: center;
}

p{
	font-family: "Alegreya Sans SC", sans-serif;
	font-size:32px;
	color: red;
	text-align: center;
}

img.align-center {
	background-image: url ("images/Yverdon gold.jpg");
	width: 1400px;
	height: 800px; 
	display: block;
	margin: 0 auto;
}

section{
	background-color: #FFE2B8;
	border: 1px solid black;
	padding: 20px;
}

h2.topics{
	font-family: 'Alegreya Sans', sans-serif;
	color: red;
	font-size: 48px;
	font-style: italic;
	text-align: center;
}



