body{background-color: white;}
h1{font-size:32px;}
h1{color: blue;}
h1{text-align: center;}
h1#slogan{color: red;}
h1#slogan{font-size: 24px;}
h1#slogan{font-style: italic;}
h1#slogan{text-align: center;}
img{background-image: "images/Yverdon gold.jpg"; }

